# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [57]:
import pandas as pd

df = pd.read_csv('./data/flights14.csv')
df

,Unnamed: 0,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour
0,1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9
1,2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11
2,3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19
3,4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7
4,5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13
...,...,...,...,...,...,...,...,...,...,...,...,...
253311,253312,2014,10,31,1,-30,UA,LGA,IAH,201,1416,14
253312,253313,2014,10,31,-5,-14,UA,EWR,IAH,189,1400,8
253313,253314,2014,10,31,-8,16,MQ,LGA,RDU,83,431,11
253314,253315,2014,10,31,-4,15,MQ,LGA,DTW,75,502,11
253315,253316,2014,10,31,-5,1,MQ,LGA,SDF,110,659,8

In [58]:
df = pd.read_csv('./data/flights14.csv', index_col=0)
df.head()

,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour
1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9
2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11
3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19
4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7
5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253316 entries, 1 to 253316
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       253316 non-null  int64
 1   month      253316 non-null  int64
 2   day        253316 non-null  int64
 3   dep_delay  253316 non-null  int64
 4   arr_delay  253316 non-null  int64
 5   carrier    253316 non-null  object
 6   origin     253316 non-null  object
 7   dest       253316 non-null  object
 8   air_time   253316 non-null  int64
 9   distance   253316 non-null  int64
 10  hour       253316 non-null  int64
dtypes: int64(8), object(3)
memory usage: 23.2+ MB

1. Escribe un programa Pandas para dividir los datos basados en origen y destino. Muestra cada grupo y el nÃºmero de elementos por grupo

In [60]:
gdf = df.groupby(['origin','dest'])
print(gdf)
gdf.groups.items()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd6a5c33280>

dict_items([(('EWR', 'ALB'), Int64Index([  1111,   1646,   2178,   2184,   2799,   2820,   3345,   4117,
              4773,   4885,
            ...
            120944, 121876, 122769, 123600, 124469, 124535, 148942, 150380,
            151106, 248316],
           dtype='int64', length=169)), (('EWR', 'ANC'), Int64Index([127051, 132934, 139219, 145470, 151274, 157519, 163580, 169256,
            175934, 182363, 188665, 194812, 201109],
           dtype='int64')), (('EWR', 'ATL'), Int64Index([   278,    283,    291,    296,    332,    335,    352,    369,
               371,    409,
            ...
            252539, 252542, 252554, 252596, 252597, 252598, 253170, 253181,
            253244, 253279],
           dtype='int64', length=4182)), (('EWR', 'AUS'), Int64Index([   494,    708,   1206,   1349,   1782,   2264,   2889,   3036,
              3481,   3679,
            ...
            249666, 250424, 250572, 251339, 251456, 252201, 252299, 252377,
            253067, 253216],
           dtype='int64', length=568)), (('EWR', 'AVL'), Int64Index([   372,   2166,   3334, 125430, 126366, 127107, 127952, 128871,
            130676, 131520,
            ...
            245017, 245923, 246817, 247608, 248324, 249173, 250079, 250960,
            251937, 252748],
           dtype='int64', length=145)), (('EWR', 'AVP'), Int64Index([69984], dtype='int64')), (('EWR', 'BDL'), Int64Index([  4081,   4794,   4797,   4877,   5627,   5630,   5725,   6500,
              6502,   6580,
            ...
            213429, 214325, 216128, 217102, 248228, 249059, 249963, 250848,
            251829, 252716],
           dtype='int64', length=210)), (('EWR', 'BNA'), Int64Index([   359,    378,    495,    496,   1105,   1207,   1208,   1640,
              1696,   2163,
            ...
            251862, 251921, 252202, 252203, 252623, 252633, 252635, 252674,
            253068, 253069],
           dtype='int64', length=1797)), (('EWR', 'BOS'), Int64Index([    91,    230,    236,    585,    614,    672,    684,    689,
               707,    731,
            ...
            253161, 253173, 253204, 253215, 253240, 253251, 253253, 253258,
            253275, 253276],
           dtype='int64', length=4268)), (('EWR', 'BQN'), Int64Index([   673,   1378,   1751,   2329,   2998,   5135,   6796,   7424,
              8134,  10561,
            ...
            242185, 242964, 245526, 247305, 247960, 248860, 249671, 251514,
            252303, 253266],
           dtype='int64', length=251)), (('EWR', 'BTV'), Int64Index([  2176,   2818,   4058,   4096,   4816,   4857,   5650,   5699,
              6518,   6557,
            ...
            217085, 217139, 218023, 218053, 218101, 249058, 249896, 250819,
            251828, 252643],
           dtype='int64', length=300)), (('EWR', 'BUF'), Int64Index([   431,   1126,   1634,   2189,   2813,   3341,   3403,   7225,
              7861,  12805,
            ...
            244963, 245866, 246754, 247574, 249161, 250063, 250949, 251880,
            251925, 252737],
           dtype='int64', length=334)), (('EWR', 'BWI'), Int64Index([   394,   1108,   2171,   2781,   3339,   4059,   4803,   4809,
              5601,   5642,
            ...
            124533, 124581, 151049, 204355, 248231, 249063, 249968, 250854,
            251833, 252648],
           dtype='int64', length=185)), (('EWR', 'BZN'), Int64Index([  2394,   2953,   7401,  13017,  17878,  23278,  27897,  32537,
             38194,  38974,  44062,  44752,  49777,  50466,  55784,  56489,
             61884,  62645,  67881,  68751, 127062, 127755, 132945, 133718,
            139205, 139941, 145423, 146241, 151206, 152043, 154775, 157509,
            158422, 160767, 163491, 164465, 167209, 169851, 170787, 173549,
            176016, 176902, 179576, 182478, 183266, 185828, 188698, 189495,
            194847, 195552, 201132],
           dtype='int64')), (('EWR', 'CAE'), Int64Index([ 5657,  7958, 11183, 13543, 16003, 18411, 21497, 23739, 26057,
            28322, 33026, 36393, 38678, 42219, 48220, 50791, 56842, 60417,
            62998, 66577, 68938],
           dtype='int64')), (('EWR', 'CHS'), Int64Index([   361,    368,    458,   1106,   1120,   2154,   2164,   2172,
              2769,   2782,
            ...
            250855, 250873, 251807, 251823, 251834, 251852, 252627, 252639,
            252649, 252663],
           dtype='int64', length=986)), (('EWR', 'CLE'), Int64Index([   662,    671,    705,    720,   1354,   1376,   1786,   2146,
              2148,   2227,
            ...
            251468, 251537, 252340, 252380, 252411, 252469, 253187, 253205,
            253262, 253299],
           dtype='int64', length=1171)), (('EWR', 'CLT'), Int64Index([   407,    410,    429,    432,    635,    638,    640,    645,
               646,    653,
            ...
            252704, 252714, 252992, 253017, 253018, 253019, 253023, 253030,
            253031, 253033],
           dtype='int64', length=3921)), (('EWR', 'CMH'), Int64Index([  4796,   4823,   5629,   5655,   6591,   7844,   8638,   8664,
              9483,   9513,
            ...
            249973, 249982, 250859, 250868, 251838, 251847, 252653, 252659,
            252700, 252715],
           dtype='int64', length=763)), (('EWR', 'CVG'), Int64Index([   404,    456,   1099,   1677,   2228,   3321,   3421,   4090,
              4097,   4110,
            ...
            250943, 251824, 251858, 251866, 251877, 251920, 252640, 252668,
            252688, 252703],
           dtype='int64', length=1187)), (('EWR', 'DAY'), Int64Index([   351,    405,    412,   1129,   2147,   3406,   4028,   4775,
              4853,   5603,
            ...
            249986, 250013, 250813, 250872, 250900, 251820, 251851, 251879,
            252690, 252694],
           dtype='int64', length=566)), (('EWR', 'DCA'), Int64Index([   354,    382,   1109,   2160,   2787,   3323,   3342,   3344,
              4043,   4044,
            ...
            250874, 250875, 251830, 251844, 251853, 251854, 252644, 252658,
            252664, 252665],
           dtype='int64', length=1309)), (('EWR', 'DEN'), Int64Index([   497,    498,    607,    661,    676,    682,    722,    734,
              1209,   1210,
            ...
            252416, 252431, 253070, 253071, 253188, 253196, 253209, 253212,
            253225, 253269],
           dtype='int64', length=2243)), (('EWR', 'DFW'), Int64Index([    19,     26,     43,     56,     63,    596,    759,    766,
               782,    798,
            ...
            252321, 252364, 252448, 252796, 252828, 252832, 252837, 252852,
            253168, 253236],
           dtype='int64', length=2224)), (('EWR', 'DSM'), Int64Index([   403,   4091,   4851,   5694,   6551,   7893,   8699,   9548,
             10317,  11221,
            ...
            215291, 216185, 217158, 218123, 248270, 249112, 250016, 250904,
            251883, 252693],
           dtype='int64', length=179)), (('EWR', 'DTW'), Int64Index([   321,    343,    362,    375,    385,    414,   1024,   1091,
              1110,   1134,
            ...
            251831, 251832, 251839, 251899, 252509, 252538, 252599, 252646,
            252647, 252712],
           dtype='int64', length=2149)), (('EWR', 'EGE'), Int64Index([  680,  1384,  1757,  2335,  2999,  3569,  4366,  5141,  5995,
             6801,  7354,  8141,  9010,  9779, 10566, 11599, 12426, 13045,
            13762, 14604, 15082, 16265, 17339, 17907, 18653, 19438, 20179,
            21081, 23305, 24008, 24520, 25214, 26430, 27232, 28605, 29433,
            30219, 30921, 32500, 33269, 34187, 34898, 35921, 36621, 37501,
            38153, 39011, 39896, 40822, 41704, 42687, 43564, 44021, 44791,
            45490, 46283, 47111, 47880, 48808, 49719, 50535, 51441, 54144,
            55070, 55815, 56531, 57545, 58262, 59237, 60300, 61118, 62729,
            63542, 64462, 65311, 66260, 67227, 68003, 68694, 69601],
           dtype='int64')), (('EWR', 'FLL'), Int64Index([    80,    108,    134,    167,    183,    570,    600,    602,
               606,    618,
            ...
            252867, 252881, 252918, 253198, 253264, 253278, 253284, 253298,
            253301, 253303],
           dtype='int64', length=2909)), (('EWR', 'GRR'), Int64Index([   397,   1123,   2155,   3314,   4084,   4085,   4785,   4845,
              5684,   5687,
            ...
            249103, 249114, 250008, 250020, 250894, 250907, 251873, 251885,
            252684, 252696],
           dtype='int64', length=490)), (('EWR', 'GSO'), Int64Index([   395,   1121,   1648,   2159,   2808,   3322,   3329,   3398,
              4030,   4080,
            ...
            249163, 249165, 250065, 250067, 250951, 250953, 251926, 251928,
            252701, 252739],
           dtype='int64', length=644)), (('EWR', 'GSP'), Int64Index([   360,    396,   1107,   1630,   2186,   2768,   2785,   2811,
              3319,   3340,
            ...
            250077, 250893, 250950, 250958, 251872, 251934, 251935, 252683,
            252738, 252746],
           dtype='int64', length=518)), (('EWR', 'HDN'), Int64Index([ 2377,  7379, 13088, 17855, 23258, 27902, 32517, 38172, 44041,
            49792, 55763, 61861, 67862],
           dtype='int64')), (('EWR', 'HNL'), Int64Index([   559,   1261,   1796,   2359,   3055,   3613,   4235,   5024,
              5819,   6816,
            ...
            245559, 246369, 247377, 247972, 248790, 249745, 250557, 251460,
            252398, 253192],
           dtype='int64', length=301)), (('EWR', 'HOU'), Int64Index([   499,    500,   1211,   1212,   1699,   2267,   2268,   2893,
              2894,   3486,
            ...
            250431, 251344, 251345, 251346, 252206, 252207, 252208, 253072,
            253073, 253074],
           dtype='int64', length=784)), (('EWR', 'IAD'), Int64Index([   433,    434,   1153,   1155,   1663,   1666,   2208,   2836,
              3428,   3430,
            ...
            249167, 249881, 250068, 250069, 250954, 250955, 251929, 251930,
            252741, 252742],
           dtype='int64', length=629)), (('EWR', 'IAH'), Int64Index([   601,    604,    608,    629,    668,    691,    697,    729,
               732,    733,
            ...
            253175, 253180, 253183, 253206, 253254, 253256, 253282, 253304,
            253305, 253313],
           dtype='int64', length=3073)), (('EWR', 'IND'), Int64Index([   365,    376,   1100,   1117,   1631,   1632,   2158,   2181,
              2204,   3356,
            ...
            251806, 251808, 251848, 251871, 251878, 252626, 252628, 252645,
            252660, 252689],
           dtype='int64', length=1239)), (('EWR', 'JAC'), Int64Index([ 1340,  3607,  7357, 13048, 23309, 27837, 32586, 33270, 38135,
            39012, 44792, 49751, 50541, 55845, 56536, 61935, 62734, 68033,
            68697],
           dtype='int64')), (('EWR', 'JAX'), Int64Index([   383,    389,    399,    413,   1116,   1137,   1653,   2180,
              2197,   2794,
            ...
            251801, 251840, 251855, 251856, 251891, 252654, 252655, 252666,
            252667, 252702],
           dtype='int64', length=998)), (('EWR', 'LAS'), Int64Index([   619,    678,   1295,   1382,   1729,   1755,   1818,   2334,
              2347,   3005,
            ...
            252310, 252356, 252358, 252409, 252410, 253155, 253178, 253203,
            253271, 253311],
           dtype='int64', length=1555)), (('EWR', 'LAX'), Int64Index([     6,    480,    481,    482,    572,    579,    587,    667,
               696,    706,
            ...
            253164, 253177, 253190, 253193, 253200, 253214, 253263, 253280,
            253295, 253310],
           dtype='int64', length=4226)), (('EWR', 'MCI'), Int64Index([   373,    379,   1122,   1175,   1639,   2174,   2185,   2778,
              2784,   2809,
            ...
            249981, 250005, 250806, 250867, 250891, 251812, 251846, 251870,
            252632, 252681],
           dtype='int64', length=995)), (('EWR', 'MCO'), Int64Index([   118,    124,    137,    168,    182,    205,    580,    605,
               626,    677,
            ...
            252886, 252935, 252982, 253176, 253194, 253208, 253243, 253248,
            253270, 253283],
           dtype='int64', length=4164)), (('EWR', 'MDT'), Int64Index([7223, 12803, 17637, 23076, 27642], dtype='int64')), (('EWR', 'MDW'), Int64Index([   501,    502,    503,    504,    505,   1213,   1214,   1215,
              1216,   1700,
            ...
            252211, 252212, 252213, 252214, 253075, 253076, 253077, 253078,
            253079, 253080],
           dtype='int64', length=1537)), (('EWR', 'MEM'), Int64Index([   358,    387,    402,   1128,   2149,   2814,   3317,   3351,
              3405,   4035,
            ...
            249894, 250015, 250796, 250817, 250903, 251802, 251825, 251882,
            252641, 252692],
           dtype='int64', length=660)), (('EWR', 'MHT'), Int64Index([   353,   1628,   2151,   2190,   3313,   3427,   4072,   4118,
              4777,   5668,
            ...
            214337, 214433, 215243, 215282, 216139, 216231, 217114, 217202,
            218079, 229084],
           dtype='int64', length=324)), (('EWR', 'MIA'), Int64Index([    11,     42,     60,    564,    576,    599,    702,    750,
               781,    802,
            ...
            252434, 252809, 252830, 253024, 253026, 253197, 253226, 253294,
            253302, 253307],
           dtype='int64', length=2094)), (('EWR', 'MKE'), Int64Index([   381,    392,   1118,   1644,   1647,   2175,   2183,   2786,
              2796,   2800,
            ...
            250009, 250818, 250886, 250895, 251827, 251865, 251874, 252642,
            252676, 252685],
           dtype='int64', length=676)), (('EWR', 'MSN'), Int64Index([   363,   1098,   2156,   2770,   3320,   4782,   5615,   6489,
              7833,   8625,
            ...
            245016, 245922, 246816, 247607, 248323, 249172, 250078, 250959,
            251936, 252747],
           dtype='int64', length=280)), (('EWR', 'MSP'), Int64Index([   384,    455,   1015,   1112,   1127,   1543,   1676,   2118,
              2169,   2854,
            ...
            251720, 251816, 251857, 251881, 252278, 252595, 252606, 252691,
            252695, 253140],
           dtype='int64', length=1485)), (('EWR', 'MSY'), Int64Index([   506,   1217,   2797,   2900,   3360,   3491,   4055,   4060,
              4075,   4120,
            ...
            251551, 251559, 251836, 252215, 252337, 252405, 252651, 253081,
            253230, 253296],
           dtype='int64', length=982)), (('EWR', 'MTJ'), Int64Index([ 2364,  7400, 13015, 17876, 23276, 27921, 32534, 38187, 44059,
            49814, 55782, 61882],
           dtype='int64')), (('EWR', 'OKC'), Int64Index([   377,   1643,   2173,   5645,   6513,   7938,   8657,   9501,
             10281,  11171,
            ...
            244026, 244917, 245822, 246709, 247535, 248221, 249052, 249890,
            251822, 252638],
           dtype='int64', length=223)), (('EWR', 'OMA'), Int64Index([   364,    370,   1113,   2157,   2179,   2772,   2776,   2789,
              3330,   3349,
            ...
            250059, 250066, 250799, 250946, 250952, 251805, 251923, 251927,
            252735, 252740],
           dtype='int64', length=544)), (('EWR', 'ORD'), Int64Index([   536,    573,    669,    690,    710,    714,    715,    718,
              1243,   1327,
            ...
            252467, 253154, 253171, 253201, 253213, 253242, 253281, 253289,
            253297, 253309],
           dtype='int64', length=3272)), (('EWR', 'ORF'), Int64Index([   408,   1649,   2810,   2812,   3407,   4779,   5610,   6485,
              7227,   7857,
            ...
            212738, 212764, 215201, 216097, 249089, 249995, 250881, 251860,
            252670, 252671],
           dtype='int64', length=211)), (('EWR', 'PBI'), Int64Index([   112,    113,    132,    229,    565,    582,    613,    620,
               622,    683,
            ...
            252422, 252456, 252466, 252901, 253151, 253169, 253195, 253219,
            253222, 253223],
           dtype='int64', length=1874)), (('EWR', 'PDX'), Int64Index([   577,    687,   1276,   1760,   1807,   2371,   2374,   2954,
              3597,   3628,
            ...
            246524, 247309, 247316, 247952, 248853, 249682, 250673, 251525,
            252317, 253268],
           dtype='int64', length=418)), (('EWR', 'PHL'), Int64Index([21635, 21655, 22482, 22494, 22534, 23368, 24414], dtype='int64')), (('EWR', 'PHX'), Int64Index([   507,    597,    611,    617,    630,    631,    634,    636,
              1218,   1308,
            ...
            252400, 252449, 252835, 253013, 253015, 253082, 253158, 253185,
            253202, 253252],
           dtype='int64', length=2002)), (('EWR', 'PIT'), Int64Index([   388,    428,   2835,   3353,   3426,   4068,   4827,   5606,
              5660,   6480,
            ...
            226170, 227035, 230570, 236445, 242297, 249153, 250054, 250942,
            251919, 252672],
           dtype='int64', length=353)), (('EWR', 'PVD'), Int64Index([   367,    406,   1101,   1636,   3331,   4040,   4790,   5623,
              5667,   6496,
            ...
            186128, 187064, 188021, 189627, 190515, 206792, 212755, 218838,
            219541, 243077],
           dtype='int64', length=169)), (('EWR', 'PWM'), Int64Index([   374,    393,   1119,   1641,   2780,   2801,   3338,   4042,
              4045,   4079,
            ...
            248267, 249094, 249105, 249999, 250010, 250885, 250896, 251864,
            251875, 252686],
           dtype='int64', length=392)), (('EWR', 'RDU'), Int64Index([  1096,   1124,   2150,   2187,   2792,   3312,   3400,   3402,
              4069,   4828,
            ...
            236435, 238124, 242288, 244052, 248245, 249090, 249996, 250882,
            251861, 252673],
           dtype='int64', length=741)), (('EWR', 'RIC'), Int64Index([   366,    391,    430,   1114,   1152,   1633,   2161,   2206,
              2765,   2773,
            ...
            250888, 250948, 251809, 251814, 251841, 251867, 252629, 252634,
            252656, 252677],
           dtype='int64', length=1183)), (('EWR', 'ROC'), Int64Index([  1115,   2793,   3354,   4052,   4057,   4070,   4807,   4815,
              4829,   5636,
            ...
            243087, 244027, 244058, 244919, 244952, 245824, 245856, 246712,
            246744, 247566],
           dtype='int64', length=504)), (('EWR', 'RSW'), Int64Index([   161,    567,    586,    675,    688,    870,   1264,   1304,
              1312,   1377,
            ...
            251642, 252335, 252339, 252368, 252403, 252967, 253174, 253199,
            253265, 253293],
           dtype='int64', length=1160)), (('EWR', 'SAN'), Int64Index([   594,    624,    735,   1313,   1734,   1789,   2944,   2974,
              3054,   3539,
            ...
            250627, 250650, 251457, 251493, 251521, 252293, 252300, 252375,
            253184, 253257],
           dtype='int64', length=884)), (('EWR', 'SAT'), Int64Index([   563,   3633,   4254,   5129,   5840,   6839,   8070,   8913,
              9861,  10555,
            ...
            187839, 188721, 189481, 190458, 248862, 249672, 250676, 251515,
            252304, 253267],
           dtype='int64', length=205)), (('EWR', 'SAV'), Int64Index([   390,   2165,   2777,   3332,   3357,   4051,   4806,   6509,
              7238,   7850,
            ...
            249079, 249093, 249984, 249998, 250870, 250884, 251849, 251863,
            252661, 252675],
           dtype='int64', length=557)), (('EWR', 'SBN'), Int64Index([248240, 249072, 249977, 250863, 251842, 252657], dtype='int64')), (('EWR', 'SDF'), Int64Index([   355,   1095,   1629,   2152,   2766,   3310,   3315,   4031,
              4778,   4788,
            ...
            249041, 249118, 249880, 250006, 250805, 250911, 251811, 251890,
            252631, 252682],

In [61]:
for g, vals in gdf.groups.items():
    print(g, len(vals))

('EWR', 'ALB') 169
('EWR', 'ANC') 13
('EWR', 'ATL') 4182
('EWR', 'AUS') 568
('EWR', 'AVL') 145
('EWR', 'AVP') 1
('EWR', 'BDL') 210
('EWR', 'BNA') 1797
('EWR', 'BOS') 4268
('EWR', 'BQN') 251
('EWR', 'BTV') 300
('EWR', 'BUF') 334
('EWR', 'BWI') 185
('EWR', 'BZN') 51
('EWR', 'CAE') 21
('EWR', 'CHS') 986
('EWR', 'CLE') 1171
('EWR', 'CLT') 3921
('EWR', 'CMH') 763
('EWR', 'CVG') 1187
('EWR', 'DAY') 566
('EWR', 'DCA') 1309
('EWR', 'DEN') 2243
('EWR', 'DFW') 2224
('EWR', 'DSM') 179
('EWR', 'DTW') 2149
('EWR', 'EGE') 80
('EWR', 'FLL') 2909
('EWR', 'GRR') 490
('EWR', 'GSO') 644
('EWR', 'GSP') 518
('EWR', 'HDN') 13
('EWR', 'HNL') 301
('EWR', 'HOU') 784
('EWR', 'IAD') 629
('EWR', 'IAH') 3073
('EWR', 'IND') 1239
('EWR', 'JAC') 19
('EWR', 'JAX') 998
('EWR', 'LAS') 1555
('EWR', 'LAX') 4226
('EWR', 'MCI') 995
('EWR', 'MCO') 4164
('EWR', 'MDT') 5
('EWR', 'MDW') 1537
('EWR', 'MEM') 660
('EWR', 'MHT') 324
('EWR', 'MIA') 2094
('EWR', 'MKE') 676
('EWR', 'MSN') 280
('EWR', 'MSP') 1485
('EWR', 'MSY') 982
('EWR', 'MTJ') 12
('EWR', 'OKC') 223
('EWR', 'OMA') 544
('EWR', 'ORD') 3272
('EWR', 'ORF') 211
('EWR', 'PBI') 1874
('EWR', 'PDX') 418
('EWR', 'PHL') 7
('EWR', 'PHX') 2002
('EWR', 'PIT') 353
('EWR', 'PVD') 169
('EWR', 'PWM') 392
('EWR', 'RDU') 741
('EWR', 'RIC') 1183
('EWR', 'ROC') 504
('EWR', 'RSW') 1160
('EWR', 'SAN') 884
('EWR', 'SAT') 205
('EWR', 'SAV') 557
('EWR', 'SBN') 6
('EWR', 'SDF') 529
('EWR', 'SEA') 1364
('EWR', 'SFO') 4539
('EWR', 'SJU') 949
('EWR', 'SLC') 285
('EWR', 'SNA') 657
('EWR', 'STL') 1740
('EWR', 'STT') 174
('EWR', 'SYR') 86
('EWR', 'TPA') 1833
('EWR', 'TUL') 201
('EWR', 'TVC') 20
('EWR', 'TYS') 238
('EWR', 'XNA') 195
('JFK', 'ABQ') 278
('JFK', 'ACK') 277
('JFK', 'ATL') 1701
('JFK', 'AUS') 1370
('JFK', 'BNA') 284
('JFK', 'BOS') 4111
('JFK', 'BQN') 535
('JFK', 'BTV') 1004
('JFK', 'BUF') 2164
('JFK', 'BUR') 289
('JFK', 'BWI') 282
('JFK', 'CHS') 587
('JFK', 'CLE') 280
('JFK', 'CLT') 2272
('JFK', 'CMH') 576
('JFK', 'CVG') 282
('JFK', 'DCA') 1686
('JFK', 'DEN') 579
('JFK', 'DFW') 474
('JFK', 'DTW') 198
('JFK', 'EGE') 85
('JFK', 'FLL') 3258
('JFK', 'HNL') 260
('JFK', 'HOU') 570
('JFK', 'HYA') 75
('JFK', 'IAD') 1604
('JFK', 'IAH') 7
('JFK', 'IND') 278
('JFK', 'JAC') 1
('JFK', 'JAX') 843
('JFK', 'LAS') 3355
('JFK', 'LAX') 10208
('JFK', 'LGB') 526
('JFK', 'MCO') 4467
('JFK', 'MIA') 2750
('JFK', 'MSP') 458
('JFK', 'MSY') 908
('JFK', 'MVY') 159
('JFK', 'OAK') 247
('JFK', 'ORD') 1265
('JFK', 'ORF') 282
('JFK', 'PBI') 1362
('JFK', 'PDX') 725
('JFK', 'PHL') 1
('JFK', 'PHX') 1784
('JFK', 'PIT') 384
('JFK', 'PSE') 289
('JFK', 'PSP') 17
('JFK', 'PWM') 1076
('JFK', 'RDU') 1770
('JFK', 'ROC') 1036
('JFK', 'RSW') 856
('JFK', 'SAN') 1402
('JFK', 'SAT') 242
('JFK', 'SAV') 514
('JFK', 'SEA') 1815
('JFK', 'SFO') 7368
('JFK', 'SJC') 252
('JFK', 'SJU') 4027
('JFK', 'SLC') 1706
('JFK', 'SMF') 246
('JFK', 'SRQ') 370
('JFK', 'STT') 450
('JFK', 'SYR') 937
('JFK', 'TPA') 2019
('LGA', 'AGS') 3
('LGA', 'ATL') 6925
('LGA', 'AVL') 2
('LGA', 'BGR') 274
('LGA', 'BHM') 124
('LGA', 'BNA') 2600
('LGA', 'BOS') 3230
('LGA', 'BTV') 229
('LGA', 'BUF') 169
('LGA', 'BZN') 15
('LGA', 'CAE') 382
('LGA', 'CAK') 708
('LGA', 'CHO') 329
('LGA', 'CHS') 574
('LGA', 'CLE') 2111
('LGA', 'CLT') 3431
('LGA', 'CMH') 1816
('LGA', 'CVG') 78
('LGA', 'DAL') 15
('LGA', 'DAY') 490
('LGA', 'DCA') 3753
('LGA', 'DEN') 2939
('LGA', 'DFW') 3789
('LGA', 'DSM') 1
('LGA', 'DTW') 3663
('LGA', 'EYW') 32
('LGA', 'FLL') 3304
('LGA', 'GRR') 266
('LGA', 'GSO') 868
('LGA', 'GSP') 3
('LGA', 'HOU') 905
('LGA', 'IAD') 1091
('LGA', 'IAH') 2346
('LGA', 'ILM') 223
('LGA', 'IND') 49
('LGA', 'JAX') 67
('LGA', 'LIT') 204
('LGA', 'MCI') 406
('LGA', 'MCO') 3078
('LGA', 'MDW') 1937
('LGA', 'MEM') 3
('LGA', 'MHT') 146
('LGA', 'MIA') 5084
('LGA', 'MKE') 1176
('LGA', 'MSN') 188
('LGA', 'MSP') 2220
('LGA', 'MSY') 738
('LGA', 'MYR') 11
('LGA', 'OMA') 87
('LGA', 'ORD') 7052
('LGA', 'ORF') 1014
('LGA', 'PBI') 2307
('LGA', 'PHL') 702
('LGA', 'PIT') 262
('LGA', 'PWM') 131
('LGA', 'RDU') 2499
('LGA', 'RIC') 1135
('LGA', 'ROA') 125
('LGA', 'ROC') 254
('LGA', 'RSW') 569
('LGA', 'SAV') 368
('LGA', 'SBN') 2
('LGA', 'SDF') 542
('LGA', 'SRQ') 496
('LGA', 'STL') 2065
('LGA', 'SYR') 332
('LGA', 'TPA') 1852
('LGA', 'TVC') 36
('LGA', 'TYS') 167
('LGA', 'XNA') 441

In [62]:
gdf.agg({'count'})

             year month   day dep_delay arr_delay carrier air_time distance  \
            count count count     count     count   count    count    count
origin dest
EWR    ALB    169   169   169       169       169     169      169      169
       ANC     13    13    13        13        13      13       13       13
       ATL   4182  4182  4182      4182      4182    4182     4182     4182
       AUS    568   568   568       568       568     568      568      568
       AVL    145   145   145       145       145     145      145      145
...           ...   ...   ...       ...       ...     ...      ...      ...
LGA    SYR    332   332   332       332       332     332      332      332
       TPA   1852  1852  1852      1852      1852    1852     1852     1852
       TVC     36    36    36        36        36      36       36       36
       TYS    167   167   167       167       167     167      167      167
       XNA    441   441   441       441       441     441      441      441

             hour
            count
origin dest
EWR    ALB    169
       ANC     13
       ATL   4182
       AUS    568
       AVL    145
...           ...
LGA    SYR    332
       TPA   1852
       TVC     36
       TYS    167
       XNA    441

[221 rows x 9 columns]

In [63]:
gdf.agg({'year':'count'}).rename(columns={'year':'num'})

              num
origin dest
EWR    ALB    169
       ANC     13
       ATL   4182
       AUS    568
       AVL    145
...           ...
LGA    SYR    332
       TPA   1852
       TVC     36
       TYS    167
       XNA    441

[221 rows x 1 columns]

2. Escribe un programa Pandas para calcula la media, desviaciÃ³n estÃ¡ndar, min y max del retraso total de cada orgige-destino.

In [64]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
df

,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour,total_delay
1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9,27
2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11,10
3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19,11
4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7,-34
5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13,3
...,...,...,...,...,...,...,...,...,...,...,...,...
253312,2014,10,31,1,-30,UA,LGA,IAH,201,1416,14,-29
253313,2014,10,31,-5,-14,UA,EWR,IAH,189,1400,8,-19
253314,2014,10,31,-8,16,MQ,LGA,RDU,83,431,11,8
253315,2014,10,31,-4,15,MQ,LGA,DTW,75,502,11,11
253316,2014,10,31,-5,1,MQ,LGA,SDF,110,659,8,-4

In [65]:
gdf = df.groupby(['origin','dest'])
gdf.first()

             year  month  day  dep_delay  arr_delay carrier  air_time  \
origin dest
EWR    ALB   2014      1    2         -2        -25      EV        30
       ANC   2014      6    7          1        -16      UA       415
       ATL   2014      1    1         -7        -14      DL       118
       AUS   2014      1    1         -4        -16      WN       247
       AVL   2014      1    1        148        146      EV       101
...           ...    ...  ...        ...        ...     ...       ...
LGA    SYR   2014      1    7          6        -10      EV        44
       TPA   2014      1    1         -8          1      B6       165
       TVC   2014      6   14         -7        -24      EV        94
       TYS   2014      4    1         -8         -5      MQ        96
       XNA   2014      1    1         -2          6      MQ       194

             distance  hour  total_delay
origin dest
EWR    ALB        143     7          -27
       ANC       3370    16          -15
       ATL        746    14          -21
       AUS       1504     9          -20
       AVL        583    16          294
...               ...   ...          ...
LGA    SYR        198    11           -4
       TPA       1010    15           -7
       TVC        655     7          -31
       TYS        647    13          -13
       XNA       1147     7            4

[221 rows x 10 columns]

In [66]:
agdf = gdf.agg({'total_delay':['mean','std','min','max']})
print(agdf)

            total_delay
                   mean         std min   max
origin dest
EWR    ALB    35.230769   92.478247 -36   618
       ANC    15.307692   43.453777 -30   121
       ATL    32.235533  114.946191 -47  2177
       AUS     5.871479   63.006811 -62   539
       AVL    24.903448   82.071727 -33   625
...                 ...         ...  ..   ...
LGA    SYR    23.346386   88.091602 -54   844
       TPA    15.267279   80.570698 -57   964
       TVC    71.500000  183.741200 -41   765
       TYS    17.305389   57.004937 -44   291
       XNA     6.911565   53.977890 -64   320

[221 rows x 4 columns]

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [67]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
df

,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour,total_delay,date
1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9,27,2014-01-01
2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11,10,2014-01-01
3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19,11,2014-01-01
4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7,-34,2014-01-01
5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13,3,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
253312,2014,10,31,1,-30,UA,LGA,IAH,201,1416,14,-29,2014-10-31
253313,2014,10,31,-5,-14,UA,EWR,IAH,189,1400,8,-19,2014-10-31
253314,2014,10,31,-8,16,MQ,LGA,RDU,83,431,11,8,2014-10-31
253315,2014,10,31,-4,15,MQ,LGA,DTW,75,502,11,11,2014-10-31
253316,2014,10,31,-5,1,MQ,LGA,SDF,110,659,8,-4,2014-10-31

In [68]:
df.info()

gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})
gdf

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253316 entries, 1 to 253316
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year         253316 non-null  int64
 1   month        253316 non-null  int64
 2   day          253316 non-null  int64
 3   dep_delay    253316 non-null  int64
 4   arr_delay    253316 non-null  int64
 5   carrier      253316 non-null  object
 6   origin       253316 non-null  object
 7   dest         253316 non-null  object
 8   air_time     253316 non-null  int64
 9   distance     253316 non-null  int64
 10  hour         253316 non-null  int64
 11  total_delay  253316 non-null  int64
 12  date         253316 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(3)
memory usage: 27.1+ MB

                    total_delay
date       carrier
2014-01-01 AA              1017
           AS                11
           B6              9383
           DL               545
           EV              4675
...                         ...
2014-10-31 MQ               -24
           UA              4862
           US               -27
           VX                14
           WN              -909

[3938 rows x 1 columns]

In [69]:
gdf["total_delay"].groupby(level=0, group_keys=False).nlargest()

date        carrier
2014-01-01  B6         9383
            UA         5897
            EV         4675
            MQ         3122
            WN         2744
                       ...
2014-10-31  UA         4862
            AA         3090
            VX           14
            HA           -4
            F9          -20
Name: total_delay, Length: 1520, dtype: int64

4. Escribe un programa Pandas para contar el mÃºmero de retrasos de salida por mes y origen.

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y mÃ©zclalos en un solo dataframe.

In [70]:
# Productos

df_prods = pd.read_excel('./data/Foodmarket.xlsx', sheet_name='Products')
df_prods.info()
df_prods.sort_values(['Product'], ascending=True,inplace=True)
print(df_prods.head())
print(df_prods.tail())
df_prods.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   70 non-null     int64
 1   Name.x    70 non-null     object
 2   provider  70 non-null     int64
 3   Price     70 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.3+ KB
    Product                                   Name.x  provider      Price
10        1                         American cheeses         1   8.913593
12        2  Appellation d'Origine ContrÃ´lÃ©e cheeses         1  10.705655
55        3                          Apple cultivars         1  11.280984
58        4                             Bacon dishes         1  10.144121
54        5                        Bacon substitutes         1  11.089174
    Product             Name.x  provider      Price
61       66     Turkish dishes         4  41.352309
20       67  Twice-baked foods         4  41.740085
6        68     Vegetable oils         4  35.583480
64       69         Vegetables         4  37.070492
60       70             Vodkas         4  40.404487

         Product   provider      Price
count  70.000000  70.000000  70.000000
mean   35.500000   1.828571  18.309713
std    20.351085   1.049105  10.454415
min     1.000000   1.000000   8.236004
25%    18.250000   1.000000   9.990970
50%    35.500000   1.000000  11.158073
75%    52.750000   3.000000  29.619032
max    70.000000   4.000000  41.740085

In [71]:
# Ventas

df_purch = pd.read_excel('./data/Foodmarket.xlsx', sheet_name='Purchases')
df_purch.info()

print(df_purch.head())
print(df_purch.tail())
df_purch.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Code      1501 non-null   int64
 1   Product   1501 non-null   int64
 2   Seller    1501 non-null   int64
 3   Buyer     1501 non-null   int64
 4   Fecha     1501 non-null   datetime64[ns]
 5   Quantity  1501 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 70.5 KB
   Code  Product  Seller  Buyer      Fecha  Quantity
0     1       15      37     90 2020-11-10        25
1     2       46      32     51 2020-09-19        16
2     3       44      27    166 2019-02-19        25
3     4       52      21     68 2020-06-08        40
4     5       20      21    185 2019-01-18        36
      Code  Product  Seller  Buyer      Fecha  Quantity
1496  1497       10      18    199 2020-11-23        34
1497  1498       63      58     38 2020-03-13        35
1498  1499       28       5     81 2020-03-02        31
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

              Code      Product       Seller        Buyer     Quantity
count  1501.000000  1501.000000  1501.000000  1501.000000  1501.000000
mean    751.000000    34.712192    28.788141   104.956696    31.341106
std     433.445691    19.974111    16.557750    59.825625     7.333365
min       1.000000     1.000000     1.000000     1.000000    12.000000
25%     376.000000    17.000000    14.000000    51.000000    26.000000
50%     751.000000    34.000000    28.000000   106.000000    31.000000
75%    1126.000000    52.000000    43.000000   158.000000    37.000000
max    1501.000000    70.000000    58.000000   207.000000    50.000000

In [72]:
!pip install tabulate

Requirement already satisfied: tabulate in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (0.9.0)

In [73]:
from tabulate import tabulate

In [74]:
# combinado
df = pd.merge(df_purch,df_prods,on='Product')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1501 entries, 0 to 1500
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Code      1501 non-null   int64
 1   Product   1501 non-null   int64
 2   Seller    1501 non-null   int64
 3   Buyer     1501 non-null   int64
 4   Fecha     1501 non-null   datetime64[ns]
 5   Quantity  1501 non-null   int64
 6   Name.x    1501 non-null   object
 7   provider  1501 non-null   int64
 8   Price     1501 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 117.3+ KB

In [75]:
df.rename(columns={'Name.x': 'Product_Name'}, inplace = True)
df.info()
df.describe()
print(tabulate (df.head(),headers='keys'))
print('/n')
print(tabulate(df.tail(),headers='keys'))
print('/n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1501 entries, 0 to 1500
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Code          1501 non-null   int64
 1   Product       1501 non-null   int64
 2   Seller        1501 non-null   int64
 3   Buyer         1501 non-null   int64
 4   Fecha         1501 non-null   datetime64[ns]
 5   Quantity      1501 non-null   int64
 6   Product_Name  1501 non-null   object
 7   provider      1501 non-null   int64
 8   Price         1501 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 117.3+ KB
      Code    Product    Seller    Buyer  Fecha                  Quantity  Product_Name      provider    Price
--  ------  ---------  --------  -------  -------------------  ----------  --------------  ----------  -------
 0       1         15        37       90  2020-11-10 00:00:00          25  Cheese soups             1  10.1163
 1      79         15        42      205  2020-07-28 00:00:00          26  Cheese soups             1  10.1163
 2     164         15        55      101  2020-11-11 00:00:00          46  Cheese soups             1  10.1163
 3     196         15        15      121  2021-03-15 00:00:00          40  Cheese soups             1  10.1163
 4     291         15        15      174  2019-12-13 00:00:00          45  Cheese soups             1  10.1163
/n
        Code    Product    Seller    Buyer  Fecha                  Quantity  Product_Name          provider    Price
----  ------  ---------  --------  -------  -------------------  ----------  ------------------  ----------  -------
1496    1176         21        36       79  2019-11-26 00:00:00          28  Doughnut varieties           1    8.236
1497    1326         21        21      114  2020-09-27 00:00:00          39  Doughnut varieties           1    8.236
1498    1414         21        19       76  2019-03-25 00:00:00          31  Doughnut varieties           1    8.236
1499    1442         21        49       23  2020-04-20 00:00:00          27  Doughnut varieties           1    8.236
1500    1500         21         2      194  2021-02-18 00:00:00          35  Doughnut varieties           1    8.236
/n

6. Escribe un programa Pandas para extraer informaciÃ³n sobre el nÃºmero de compras totales y el monto total por nombre de producto y aÃ±o.

In [76]:
gdf = df.groupby(['Product_Name','Fecha'])
gdf.groups

{('American cheeses', 2019-05-26 00:00:00): [1230], ('American cheeses', 2019-06-28 00:00:00): [1234], ('American cheeses', 2019-07-26 00:00:00): [1246], ('American cheeses', 2019-08-01 00:00:00): [1237], ('American cheeses', 2019-09-10 00:00:00): [1233], ('American cheeses', 2019-11-08 00:00:00): [1235], ('American cheeses', 2020-01-16 00:00:00): [1232], ('American cheeses', 2020-02-16 00:00:00): [1250], ('American cheeses', 2020-03-03 00:00:00): [1238], ('American cheeses', 2020-05-05 00:00:00): [1231], ('American cheeses', 2020-06-03 00:00:00): [1240, 1243], ('American cheeses', 2020-06-06 00:00:00): [1249], ('American cheeses', 2020-06-18 00:00:00): [1239], ('American cheeses', 2020-07-13 00:00:00): [1244], ('American cheeses', 2020-08-23 00:00:00): [1241], ('American cheeses', 2020-09-17 00:00:00): [1248], ('American cheeses', 2020-11-12 00:00:00): [1247], ('American cheeses', 2020-12-05 00:00:00): [1242], ('American cheeses', 2021-04-04 00:00:00): [1251], ('American cheeses', 2021-04-21 00:00:00): [1245], ('American cheeses', 2021-05-01 00:00:00): [1236], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-01-05 00:00:00): [1333], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-02-19 00:00:00): [1334], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-03-15 00:00:00): [1330], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-03-18 00:00:00): [1328], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-06-07 00:00:00): [1332], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-08-07 00:00:00): [1336], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-09-12 00:00:00): [1331], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019-11-28 00:00:00): [1326], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2020-02-24 00:00:00): [1325], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2020-02-28 00:00:00): [1337], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2020-04-13 00:00:00): [1327], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2020-08-03 00:00:00): [1329], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2020-10-17 00:00:00): [1335], ('Apple cultivars', 2019-01-30 00:00:00): [419], ('Apple cultivars', 2019-02-03 00:00:00): [433], ('Apple cultivars', 2019-03-03 00:00:00): [437], ('Apple cultivars', 2019-03-24 00:00:00): [439], ('Apple cultivars', 2019-04-03 00:00:00): [432], ('Apple cultivars', 2019-05-11 00:00:00): [425], ('Apple cultivars', 2019-06-14 00:00:00): [418], ('Apple cultivars', 2019-07-01 00:00:00): [416], ('Apple cultivars', 2019-07-15 00:00:00): [431], ('Apple cultivars', 2019-08-12 00:00:00): [417], ('Apple cultivars', 2019-09-08 00:00:00): [420], ('Apple cultivars', 2019-10-21 00:00:00): [441], ('Apple cultivars', 2019-12-13 00:00:00): [429], ('Apple cultivars', 2020-01-01 00:00:00): [423], ('Apple cultivars', 2020-05-21 00:00:00): [438], ('Apple cultivars', 2020-06-16 00:00:00): [426], ('Apple cultivars', 2020-07-01 00:00:00): [415], ('Apple cultivars', 2020-07-03 00:00:00): [435], ('Apple cultivars', 2020-08-03 00:00:00): [424], ('Apple cultivars', 2020-08-21 00:00:00): [421], ('Apple cultivars', 2020-09-05 00:00:00): [434], ('Apple cultivars', 2020-09-10 00:00:00): [428], ('Apple cultivars', 2020-10-29 00:00:00): [430], ('Apple cultivars', 2021-01-21 00:00:00): [440], ('Apple cultivars', 2021-02-05 00:00:00): [436], ('Apple cultivars', 2021-03-30 00:00:00): [422], ('Apple cultivars', 2021-04-11 00:00:00): [427], ('Bacon dishes', 2019-02-03 00:00:00): [1203], ('Bacon dishes', 2019-02-24 00:00:00): [1202], ('Bacon dishes', 2019-04-27 00:00:00): [1198], ('Bacon dishes', 2019-05-06 00:00:00): [1197], ('Bacon dishes', 2019-06-15 00:00:00): [1204], ('Bacon dishes', 2019-07-06 00:00:00): [1205], ('Bacon dishes', 2019-07-18 00:00:00): [1200], ('Bacon dishes', 2019-09-02 00:00:00): [1186], ('Bacon dishes', 2019-10-05 00:00:00): [1207], ('Bacon dishes', 2020-06-20 00:00:00): [1206], ('Bacon dishes', 2020-07-31 00:00:00): [1199], ('Bacon dishes', 2020-08-12 00:00:00): [1209], ('Bacon dishes', 2020-08-29 00:00:00): [1188], ('Bacon dishes', 2020-10-26 00:00:00): [1193, 1196], ('Bacon dishes', 2020-11-21 00:00:00): [1195], ('Bacon dishes', 2020-12-18 00:00:00): [1192], ('Bacon dishes', 2021-02-09 00:00:00): [1189], ('Bacon dishes', 2021-03-01 00:00:00): [1190], ('Bacon dishes', 2021-03-04 00:00:00): [1194], ('Bacon dishes', 2021-03-21 00:00:00): [1201], ('Bacon dishes', 2021-04-08 00:00:00): [1187], ('Bacon dishes', 2021-04-18 00:00:00): [1208], ('Bacon dishes', 2021-05-02 00:00:00): [1191], ('Bacon substitutes', 2019-01-08 00:00:00): [297], ('Bacon substitutes', 2019-01-20 00:00:00): [286], ('Bacon substitutes', 2019-04-14 00:00:00): [279], ('Bacon substitutes', 2019-04-27 00:00:00): [273], ('Bacon substitutes', 2019-05-06 00:00:00): [278], ('Bacon substitutes', 2019-05-07 00:00:00): [283], ('Bacon substitutes', 2019-05-19 00:00:00): [274], ('Bacon substitutes', 2019-05-31 00:00:00): [272], ('Bacon substitutes', 2019-07-05 00:00:00): [290], ('Bacon substitutes', 2019-07-08 00:00:00): [269], ('Bacon substitutes', 2019-07-20 00:00:00): [275, 276], ('Bacon substitutes', 2019-07-29 00:00:00): [281], ('Bacon substitutes', 2019-08-28 00:00:00): [291], ('Bacon substitutes', 2019-09-10 00:00:00): [295], ('Bacon substitutes', 2019-09-17 00:00:00): [293], ('Bacon substitutes', 2019-09-20 00:00:00): [298], ...}

In [80]:
gdf = df.groupby(['Product_Name',df['Fecha'].dt.year])
gdf.groups

{('American cheeses', 2019): [1230, 1233, 1234, 1235, 1237, 1246], ('American cheeses', 2020): [1231, 1232, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1247, 1248, 1249, 1250], ('American cheeses', 2021): [1236, 1245, 1251], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2019): [1326, 1328, 1330, 1331, 1332, 1333, 1334, 1336], ('Appellation d'Origine ContrÃ´lÃ©e cheeses', 2020): [1325, 1327, 1329, 1335, 1337], ('Apple cultivars', 2019): [416, 417, 418, 419, 420, 425, 429, 431, 432, 433, 437, 439, 441], ('Apple cultivars', 2020): [415, 421, 423, 424, 426, 428, 430, 434, 435, 438], ('Apple cultivars', 2021): [422, 427, 436, 440], ('Bacon dishes', 2019): [1186, 1197, 1198, 1200, 1202, 1203, 1204, 1205, 1207], ('Bacon dishes', 2020): [1188, 1192, 1193, 1195, 1196, 1199, 1206, 1209], ('Bacon dishes', 2021): [1187, 1189, 1190, 1191, 1194, 1201, 1208], ('Bacon substitutes', 2019): [269, 272, 273, 274, 275, 276, 277, 278, 279, 281, 283, 286, 288, 290, 291, 292, 293, 295, 297, 298], ('Bacon substitutes', 2020): [267, 268, 270, 271, 280, 282, 285, 287, 289, 294, 296, 299], ('Bacon substitutes', 2021): [284], ('Basil cultivars', 2019): [1392, 1394, 1395, 1398, 1402, 1403, 1404, 1406], ('Basil cultivars', 2020): [1391, 1393, 1399, 1400, 1405, 1407], ('Basil cultivars', 2021): [1396, 1397, 1401], ('Breads', 2019): [1087, 1090, 1091, 1093, 1098, 1099, 1100, 1102, 1104, 1106, 1108, 1109, 1111], ('Breads', 2020): [1084, 1086, 1089, 1092, 1094, 1095, 1096, 1101, 1105, 1107, 1110], ('Breads', 2021): [1085, 1088, 1097, 1103], ('Breakfast beverages', 2019): [464, 466, 467, 470, 472, 473, 474, 476, 478, 479, 480, 481], ('Breakfast beverages', 2020): [462, 463, 465, 468, 471, 475, 477, 482], ('Breakfast beverages', 2021): [469], ('Breakfast cereals', 2019): [553, 554, 560, 561, 563, 565, 566, 567, 569], ('Breakfast cereals', 2020): [549, 550, 551, 557, 558, 559, 562, 570, 571], ('Breakfast cereals', 2021): [552, 555, 556, 564, 568], ('Breakfast foods', 2019): [1066, 1067, 1069, 1073, 1074, 1075, 1077, 1078, 1079, 1080], ('Breakfast foods', 2020): [1064, 1065, 1068, 1070, 1071, 1072, 1076, 1082, 1083], ('Breakfast foods', 2021): [1081], ('British cheeses', 2019): [1379, 1385, 1386, 1389], ('British cheeses', 2020): [1380, 1381, 1383, 1384, 1387, 1388, 1390], ('British cheeses', 2021): [1382], ('Cakes', 2019): [848, 849, 852, 857, 861, 862, 863, 864, 867, 869, 870], ('Cakes', 2020): [850, 851, 853, 854, 855, 856, 858, 859, 865, 866, 868, 871, 872, 873, 874, 876], ('Cakes', 2021): [860, 875], ('Candies', 2019): [398, 401, 406, 407, 408, 411, 412, 414], ('Candies', 2020): [394, 395, 397, 399, 402, 405, 409, 413], ('Candies', 2021): [396, 400, 403, 404, 410], ('Cheese soups', 2019): [4, 5, 9, 10, 11, 13, 14, 25, 27, 28], ('Cheese soups', 2020): [0, 1, 2, 6, 12, 15, 19, 20, 21, 22, 23, 26, 29], ('Cheese soups', 2021): [3, 7, 8, 16, 17, 18, 24], ('Cheeses', 2019): [707, 709, 710, 713, 715, 716, 718], ('Cheeses', 2020): [706, 708, 712, 714, 719, 720, 721, 722, 723, 724], ('Cheeses', 2021): [711, 717], ('Christmas dishes (list)', 2019): [1274, 1276, 1278, 1279, 1284, 1285, 1287, 1288, 1291, 1294, 1296, 1297], ('Christmas dishes (list)', 2020): [1275, 1277, 1280, 1281, 1282, 1283, 1286, 1289, 1290, 1292, 1295, 1298], ('Christmas dishes (list)', 2021): [1293], ('Cocktails', 2019): [745, 747, 748, 750, 751, 753, 754, 757, 758, 760, 762, 764, 765, 766, 767], ('Cocktails', 2020): [749, 755, 756, 759, 768], ('Cocktails', 2021): [746, 752, 761, 763], ('Cookies', 2019): [1217, 1218, 1220, 1223, 1224, 1226, 1227, 1229], ('Cookies', 2020): [1210, 1211, 1212, 1213, 1219, 1222, 1225], ('Cookies', 2021): [1214, 1215, 1216, 1221, 1228], ('Diets', 2019): [109, 110, 112, 113, 115, 116, 117, 118], ('Diets', 2020): [114, 119, 121, 122, 124], ('Diets', 2021): [111, 120, 123], ('Dishes using coconut milk', 2019): [1252, 1255, 1256, 1259, 1261, 1263, 1265, 1272], ('Dishes using coconut milk', 2020): [1257, 1258, 1262, 1264, 1266, 1267, 1269, 1270, 1273], ('Dishes using coconut milk', 2021): [1253, 1254, 1260, 1268, 1271], ('Doughnut varieties', 2019): [1489, 1490, 1494, 1495, 1496, 1498], ('Doughnut varieties', 2020): [1488, 1492, 1493, 1497, 1499], ('Doughnut varieties', 2021): [1491, 1500], ('Egg dishes', 2019): [877, 883, 885, 888, 889, 891, 894], ('Egg dishes', 2020): [880, 881, 882, 884, 886, 887, 890, 892, 893], ('Egg dishes', 2021): [878, 879], ('Fermented soy products', 2019): [125, 127, 129, 130, 131, 132, 133, 134, 136, 138, 141, 142, 143], ('Fermented soy products', 2020): [126, 128, 135, 137, 139, 140], ('Fermented soy products', 2021): [144, 145], ('Food additives', 2019): [572, 573, 574, 579, 580, 583, 584, 585, 586, 589, 590, 595, 596, 599, 600], ('Food additives', 2020): [575, 576, 578, 581, 582, 588, 592, 593, 594, 597, 598], ('Food additives', 2021): [577, 587, 591], ('Food additives (Codex Alimentarius)', 2019): [1047, 1048, 1049, 1053, 1056, 1059, 1060], ('Food additives (Codex Alimentarius)', 2020): [1046, 1051, 1052, 1054, 1055, 1057, 1058, 1061, 1062, 1063], ('Food additives (Codex Alimentarius)', 2021): [1050], ('Foods named after people', 2019): [522, 524, 528, 529, 532, 533, 537, 538, 539, 543, 544, 546], ('Foods named after people', 2020): [523, 525, 526, 527, 534, 536, 540, 542, 545, 547, 548], ('Foods named after people', 2021): [530, 531, 535, 541], ('French cheeses', 2019): [601, 605, 606, 611, 614, 615, 617, 620, 622], ('French cheeses', 2020): [602, 607, 608, 609, 610, 612, 613, 616, 618, 619, 621], ('French cheeses', 2021): [603, 604], ('French dishes', 2019): [1301, 1302, 1304, 1310, 1323], ('French dishes', 2020): [1300, 1303, 1305, 1307, 1309, 1311, 1312, 1314, 1315, 1316, 1317, 1318, 1321, 1324], ('French dishes', 2021): [1299, 1306, 1308, 1313, 1319, 1320, 1322], ('Fried dough foods', 2019): [685, 690, 691, 693, 696, 697, 698, 700, 704], ('Fried dough foods', 2020): [684, 686, 687, 688, 689, 694, 695, 699, 701, 702, 703, 705], ('Fried dough foods', 2021): [692], ('Fruits', 2019): [495, 500, 503, 507, 508, 510, 519], ('Fruits', 2020): [497, 498, 502, 504, 505, 506, 509, 511, 513, 514, 515, 517, 518, 521], ('Fruits', 2021): [496, 499, 501, 512, 516, 520], ('Herbs and spices', 2019): [303, 306, 307, 309, 313], ('Herbs and spices', 2020): [300, 301, 302, 305, 308, 310, 312], ('Herbs and spices', 2021): [304, 311], ('Hors d'oeuvre', 2019): [795, 796, 798, 800, 802, 805, 806, 811, 813, 815, 816, 817, 819, 820, 821], ('Hors d'oeuvre', 2020): [794, 797, 801, 803, 804, 810, 812, 814, 818, 822], ('Hors d'oeuvre', 2021): [799, 807, 808, 809], ('Indian dishes', 2019): [897, 899, 903, 906, 909, 912, 917], ('Indian dishes', 2020): [895, 896, 898, 902, 907, 908, 911, 914, 915, 916, 919, 920, 922], ('Indian dishes', 2021): [900, 901, 904, 905, 910, 913, 918, 921], ('Indian snack foods', 2019): [1149, 1153, 1155, 1158, 1161, 1162, 1165, 1166], ('Indian snack foods', 2020): [1150, 1151, 1152, 1154, 1156, 1157, 1159, 1160, 1163], ...}

In [83]:
gdf = df.groupby(['Product_Name',df['Fecha'].dt.year]).agg({'Quantity':sum})
gdf

                                               Quantity
Product_Name                            Fecha
American cheeses                        2019        183
                                        2020        384
                                        2021         97
Appellation d'Origine ContrÃ´lÃ©e cheeses 2019        241
                                        2020        184
...                                                 ...
Vegetables                              2019        249
                                        2020        108
Vodkas                                  2019        348
                                        2020        187
                                        2021         66

[205 rows x 1 columns]